services:
  main:
    build:
      context: .
      dockerfile: Dockerfile.main
    env_file:
      - .env
  
  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    env_file:
      - .env
